*.bin
*.npy
universal-sentence-encoder_4/saved_model.pb
universal-sentence-encoder_4/variables/variables.data-00000-of-00001
universal-sentence-encoder_4/variables/variables.index
.ipynb_checkpoints/02. Financial News Similarity BERT-checkpoint.ipynb
.ipynb_checkpoints/02. Financial News Similarity BERT-checkpoint.ipynb
.ipynb_checkpoints/02. Financial News Similarity BERT-checkpoint.ipynb
.ipynb_checkpoints/02. Financial News Similarity BERT-checkpoint.ipynb
